<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073849435965-ds861qpts1o2qq6o2004l41hpaqv686e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073849435965-ds861qpts1o2qq6o2004l41hpaqv686e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQj7Ar8m04H-s3Bt1XyxoTKBg_bmqaWm0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073849435965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apally.flutter</string>
	<key>PROJECT_ID</key>
	<string>ap-ally-76ca5</string>
	<key>STORAGE_BUCKET</key>
	<string>ap-ally-76ca5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073849435965:ios:b233d356e5deb3c676e754</string>
</dict>
</plist>